.App {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}


h1 {
  color: dodgerblue;
}

.user-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: auto;
  border: 1px solid red;

}

Form {
  width: 100%;
}

.form-input-div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  
}

.form-input{
  width: 80%;
  margin-bottom: 10px;

}

button {
  background-color: dodgerblue;
  width: 20%;
  border-radius: 5px;
  height: 30px;
  margin-top: 10px;
}